rust.sh
*.netrwhist
*.appimage

.ICEauthority
.Xauthority
.bash_history
.dmrc
.hushlogin
.lesshst
.netrc
.nvidia-settings-rc
.python_history
.startup_time
.steampath
.steampid
.sudo_as_admin_successful
.wget-hsts
.xsession-*
.zcompdump
.zdirs

.config/*rc
.config/.qmlformat.ini
.config/Mousepad/accels.scm
.config/QtProject.conf
.config/Trolltech.conf
.config/emaildefaults
.config/emailidentities
.config/font-manager/Sources.xml
.config/fontconfig/conf.d/09-Directories.conf
.config/fontconfig/conf.d/39-Aliases.conf
.config/gh/hosts.yml
.config/gtkrc-2.0
.config/kwallet
.config/mailtransports
.config/mimeapps.list
.config/nvim/lazy-lock.json
.config/okular.kmessagebox
.config/pavucontrol.ini
.config/quickshell/.qmlls.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/zoom.conf
.config/zoomus.conf
.config/zsh/.zsh_history
.config/zsh/dynamic.zsh

.local/share/.vivaldi_reporting_data
.local/share/applications/Qt-MaintenanceTool.desktop
.local/share/emojicache.txt
.local/share/fish/fish_history
.local/share/krita-sysinfo.log
.local/share/krita.log
.local/share/mimeapps.list
.local/share/recently-used.xbel
.local/share/user-places.xbel*

.android/
.antigravity/
.bundle/
.cache/
.cargo/
.conan2/
.conda/
.designer/
.dotfiles.git/
.gemini/
.gephi/
.gnome/
.gnupg/
.gphoto/
.ipynb_checkpoints/
.ipython/
.java/
.jupyter/
.kde4/
.lldb/
.m2/
.mplayer/
.npm/
.pki/
.putty/
.rustup/
.ssh/
.steam/
.swt/
.thunderbird/
.var/
.vscode-server/
.wine/
.zen/
.zoom/

.config/Antigravity/
.config/Bitwarden/
.config/Bitwarden\ CLI/
.config/JetBrains/
.config/KDE/
.config/Kitware/
.config/Qt/
.config/QtProject/
.config/Thunar/
.config/VirtualBox/
.config/abiword/
.config/akonadi/
.config/autostart/
.config/blender/
.config/cef_user_data/
.config/chromium/
.config/coc/
.config/configstore/
.config/dconf/
.config/discord/
.config/dlv/
.config/fcitx/dbus/
.config/fcitx5/
.config/github-copilot/
.config/go/
.config/google-chrome/
.config/gthumb/
.config/gtk-4.0/
.config/higan/
.config/hiro/
.config/htop/
.config/ibus/bus/
.config/inkscape/
.config/kde.org/
.config/kdeconnect/
.config/kdedefaults/
.config/keepassxc/
.config/khtml/
.config/ksnip/
.config/libaccounts-glib/
.config/lutris/
.config/mc/
.config/menus/
.config/microsoft-edge-dev/
.config/microsoft-edge/
.config/nvim/plugged/
.config/obs-studio/
.config/opera/
.config/pcmanfm-qt/
.config/pulse/
.config/qalculate/
.config/qt-*/
.config/rclone/
.config/ristretto/
.config/rncbc.org/
.config/session/
.config/smartgit/
.config/solaar/
.config/systemd/user/graphical-session.target.wants/
.config/vlc/
.config/xournalpp/metadata/
.config/xsettingsd/
.config/zsh/.zcompcache/
.config/zsh/plugins/

.local/lib/
.local/share/CMakeTools/
.local/share/Qt/
.local/share/QtProject/
.local/share/Trash/
.local/share/ark/
.local/share/artwork/
.local/share/backgrounds/
.local/share/flatpak/
.local/share/font-manager/
.local/share/fonts/
.local/share/gem/
.local/share/go/
.local/share/gvfs-metadata/
.local/share/hyprland/
.local/share/hyprlauncher/
.local/share/icons/
.local/share/jupyter/
.local/share/keyrings/
.local/share/krita/
.local/share/kxmlgui5/
.local/share/libfm-qt/
.local/share/mc/
.local/share/mime/
.local/share/nvim/
.local/share/okular/
.local/share/qalculate/
.local/share/sddm/
.local/share/sounds/
.local/share/uv/
.local/share/vlc/
.local/share/wezterm/
.local/share/xfce4/helpers/
.local/share/xorg/
.local/share/yarn/
.local/state/

Apps/
Desktop/
Documents/
Downloads/
Games/
GoogleDrive/
IdeaProjects/
OneDrive/
Pictures/
Videos/
VirtualBox VMs/

# Multifolder stuff

**/a.out
**/*.app

# exception rules

.config/asciinema/*
!.config/asciinema/config.toml

.local/bin/*
!.local/bin/local*
!.local/bin/spots.sh

!.local/share/applications/
.local/share/applications/mimeinfo.cache
.local/share/applications/mimeapps.list

