rust.sh
*.netrwhist
*.appimage

.ICEauthority
.Xauthority
.bash_history
.dmrc
.hushlogin
.lesshst
.nvidia-settings-rc
.python_history
.steampath
.steampid
.sudo_as_admin_successful
.wget-hsts
.xsession-*
.zcompdump
.zdirs
.zsh_histfile

.config/*rc
.config/Mousepad/accels.scm
.config/QtProject.conf
.config/Trolltech.conf
.config/emaildefaults
.config/emailidentities
.config/gh/hosts.yml
.config/gtkrc-2.0
.config/kdeglobals
.config/kwallet
.config/mailtransports
.config/mimeapps.list
.config/okular.kmessagebox
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/webengineurlinterceptoradblockrc
.config/xfce4/help.rc
.config/xfce4/helpers.rc
.config/xfce4/terminal/accels.scm
.config/xfce4/xfce4-taskmanager.rc
.config/zoom.conf
.config/zoomus.conf
.config/zsh/dynamic.zsh

.local/state/
.local/bin/*
!.local/bin/local*
.local/share/*
!.local/share/google-chrome/
!.local/share/themes/
!.local/share/konsole/


.android/
.cache/
.cargo/
.conda/
.dotfiles.git/
.gnome/
.gnupg/
.ipynb_checkpoints/
.ipython/
.java/
.jupyter/
.kde4/
.local/lib/
.mozilla/
.npm/
.pki/
.rustup/
.ssh/
.steam/
.var/
.vscode-server/
.wine/
.zoom/

.config/Bitwarden/
.config/Bitwarden\ CLI/
.config/JetBrains/
.config/KDE/
.config/Thunar/
.config/Unknown\ Organization/
.config/VirtualBox/
.config/akonadi/
.config/asciinema/
.config/autostart/
.config/blender/
.config/bottom/
.config/cef_user_data/
.config/coc/
.config/configstore/
.config/dconf/
.config/discord/
.config/github-copilot/
.config/go/
.config/google-chrome/
.config/gtk-3.0/
.config/gtk-4.0/
.config/higan/
.config/hiro/
.config/htop/
.config/inkscape/
.config/kde.org/
.config/kdeconnect/
.config/kdedefaults/
.config/khtml/
.config/ksnip/
.config/libaccounts-glib/
.config/lutris/
.config/menus/
.config/mypaint/
.config/nvim/plugged/
.config/obs-studio/
.config/opera/
.config/pulse/
.config/rclone/
.config/ristretto/
.config/session/
.config/solaar/
.config/systemd/
.config/vlc/
.config/xfce4/desktop/
.config/xfce4/panel/
.config/xfce4/xfconf/xfce-perchannel-xml/
.config/xournalpp/
.config/xsettingsd/
.config/zsh/plugins/

Apps/
Desktop/
Documents/
Downloads/
Emulation/
Games/
GoogleDrive/
OneDrive/
Pictures/
Videos/
VirtualBox VMs/
git/
go/
llvm-project/
shared/
