[core]
	editor = nvim
	excludesfile = /home/lmcs/.gitignore_global
	autocrlf = input
[user]
	name = Luis M Canaval S
	email = public02@canaval.org
[color]
	ui = true
	status = auto
	branch = auto
[color "status"]
	added = 10
	untracked = 13
	changed = 11
	header = 6
	nobranch = 15
	updated = 12
[push]
	default = simple
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	#helper = /usr/lib/git-core/git-credential-libsecret
	#helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
	helper = /home/lmcs/Apps/compathelper.exe
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[merge]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
