*.netrwhist
*.appimage

.ICEauthority
.Xauthority
.dmrc
.face
.lesshst
.nvidia-settings-rc
.python_history
.xsession-*
.zcompdump
.zdirs
.zsh_histfile

.config/Mousepad/accels.scm
.config/QtProject.conf
.config/karboncalligraphyrc
.config/kritadisplayrc
.config/kritarc
.config/mimeapps.list
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/help.rc
.config/xfce4/helpers.rc
.config/xfce4/terminal/accels.scm
.config/xfce4/xfce4-taskmanager.rc
.config/zoomus.conf
.config/zsh/dynamic.zsh

.local/bin/nvim

.android/
.cache/
.conda/
.dotfiles.git/
.gnome/
.ipynb_checkpoints/
.ipython/
.java/
.jupyter/
.local/share/
.mozilla/
.npm/
.pki/


.config/nvim/plugged/
.config/pulse/
.config/Bitwarden\ CLI/
.config/google-chrome/
.config/Thunar/
.config/VirtualBox/
.config/autostart/
.config/blender/
.config/configstore/
.config/dconf/
.config/gtk-3.0/
.config/htop/
.config/inkscape/
.config/menus/
.config/obs-studio/
.config/opera/
.config/rclone/
.config/ristretto/
.config/solaar/
.config/systemd/
.config/vlc/
.config/xfce4/desktop/
.config/xfce4/panel/
.config/xfce4/xfconf/xfce-perchannel-xml/
.config/zsh/plugins/
.zoom/

Apps/
Desktop/
Documents/
Downloads/
GoogleDrive/
OneDrive/
Pictures/
VirtualBox VMs/
git/
shared/
