#!/bin/sh

export QT_STYLE_OVERRIDE=gtk
export GTK_THEME=Adwaita-dark
export ADW_DISABLE_PORTAL=1
export ADW_DEBUG_COLOR_SCHEME=prefer-dark

mplayer /usr/share/sounds/Smooth/stereo/desktop-login.oga &

xset b off

# vim: se ts=2:sw=2:noet:sts=2
