@define-color textLight #1e1e2e; /* Base */
@define-color shadow1 #45475a; /* Surface 1 */
@define-color shadow2 #9399b2; /* Overlay 2 */
@define-color grayish #7f849c; /* Overlay 1 */
@define-color greenish #a6e3a1; /* Green */
@define-color text #cdd6f4; /* Text */
@define-color redish #f38ba8; /* Red */
@define-color alert #fab387; /* Peach */


@define-color blinkBg rgba(249, 226, 175, 0.6); /* Yellow */
@define-color activeBg rgba(250, 179, 135, 0.8); /* Peach */
@define-color urgentBg rgba(69, 71, 90, 0.1); /* Surface 1 */
@define-color background rgba(30, 30, 46, 0.6); /* Base */
@define-color submapBg rgba(180, 190, 254, 0.8); /* Lavander */
