* {
	font-family: Electrolize, 'Nimbus Sans Narrow', FontAwesome, sans-serif;
	font-size: 20px;
}

@keyframes blink {
to {
	color: #f38ba8;
}
}
@keyframes blink2 {
to {
	background-color: rgba(249, 226, 175, 0.6);
}
}

button:hover {
	background: inherit;
}
label:focus {
	background-color: #202020;
}
window#waybar {
	background-color: rgba(30, 30, 46, 0.6);
	color: #cdd6f4;
	text-shadow: 4px 4px 4px #45475a;
	transition-property: background-color;
	transition-duration: .5s;
}
window#waybar.hidden {
	opacity: 0.1
}
window#waybar.somerandomapp {
	background-color: red;
	border: none;
}

#workspaces button {
	border-radius: 10px;
	color: #cdd6f4;
  margin: 0 3px;
	min-width: 40px;
	padding: 0 10px;
	text-shadow: 4px 4px 4px #45475a;
}
#workspaces button:hover {
	background-color: rgba(249, 226, 175, 0.4);
	color: #1e1e2e;
}

#workspaces button.active {
	background-color: rgba(250, 179, 135, 0.8);
	color: #181825;
}
#workspaces button.urgent {
	animation-name: blink2;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background-color: rgba(69, 71, 90, 0.1);
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#keybeard-state,
#language,
#memory,
#submap,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber {
	margin: 0 5px;
	padding: 0;
}

#submap {
	animation-name: blink2;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background-color: rgba(180, 190, 254, 0.8);
  border-radius: 10px;
	color: #181825;
  margin: 0 3px;
	min-width: 40px;
	padding: 0 10px;
	text-shadow: 4px 4px 4px #45475a;
}

#window,
#workspaces {
	margin: 0 3px;
}

#battery.charging, #battery.plugged {
	color: #a6e3a1;
}

#clock {
	font-family: 'Monaspace Krypton';
	font-size: 26px;
}

#battery.critical:not(.charging),
#temperature.critical {
	animation-name: blink;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	color: #b4befe;
}

#keyboard-state > label.locked {
	color: #eba9ac;
}

#network.disconnected {
	color: #7f849c;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}
#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	color: #fab387;
}

