@import url("colors.css");

* {
	font-family: Electrolize, 'Nimbus Sans Narrow', FontAwesome, sans-serif;
	font-size: 1.045em;
}

@keyframes fg_blink {
to {
	color: @redish;
	text-shadow: .05em .05em @shadow2, 0 0 .25em @shadow1;
}
}
@keyframes bg_blink {
to {
	background-color: @alert;
}
}

button {
	border-radius: .5em;
	color: @text;
  margin: 0 .35em;
	padding: 0 1em;
}
button.active {
	background-color: @alert;
	color: @textLight;
}
button.urgent {
	animation-name: bg_blink;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background-color: @grayish;
}
button:hover {
  background: inherit;
	background-color: @alert;
	color: @textLight;
}

label:focus {
	background-color: @redish;
}

window#waybar {
	background-color: @background;
	color: @text;
	text-shadow: .05em .05em @shadow1, 0 0 .25em @shadow2;
	transition-property: background-color;
	transition-duration: .5s;
}
window#waybar.hidden {
	opacity: 0.1
}
window#waybar.somerandomapp {
	background-color: red;
	border: none;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#keybeard-state,
#language,
#memory,
#submap,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray,
#window,
#wireplumber {
  /* border: solid 1px red; */
	margin: 0 .35em;
	padding: 0;
}

#battery.charging, #battery.plugged {
	color: @greenish;
}

#battery.critical:not(.charging),
#temperature.critical {
	animation-name: fg_blink;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	color: @text;
}

#clock,
#pulseaudio {
	font-family: 'Monaspace Krypton';
	font-size: 1em;
}

#custom-binary_clock {
}

#keyboard-state > label.locked {
	color: @redish;
}

#network.disconnected {
	color: @grayish;
}

#submap {
	animation-name: bg_blink;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background-color: @submapBg;
  border-radius: .5em;
	color: @textLight;
  margin: 0 .35em;
	min-width: 2em;
	padding: 0 1em;
}


#tray {
}
#tray > .active {
}
#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	color: @alert;
}
#tray > .passive {
	-gtk-icon-effect: dim;
}

#workspaces {
	margin: 0 .35em 0 0;
}
#workspaces button {
	text-shadow: inherit;
  /* in case we need special style for specific buttons */
}

