@import url("colors.css");

@keyframes animation_critical {
to {
	color: @fg_critical;
	background-color: @bg_critical;
}
}
@keyframes animation_atention {
to {
	color: @fg_atention;
	background-color: @bg_atention;
}
}

button.active {
	background-color: @bg_widget_r;
	color: @fg_widget_r;
}
button.urgent,
#submap {
	animation-direction: alternate;
	animation-duration: .75s;
	animation-iteration-count: infinite;
	animation-name: animation_atention;
	animation-timing-function: linear;
}
button:hover {
	background: inherit;
	background-color: @bg_hover;
	color: @fg_hover;
	text-shadow: inherit;
}

window#waybar {
	background: none;
	font-family: monospace, 'Nimbus Sans Narrow', FontAwesome, sans-serif;
	font-size: 1em;
	text-shadow: -.1em -.1em .25em @text_shadow2, .1em .1em .25em @text_shadow1;
}
window#waybar.hidden {
	opacity: .1
}

button,
#backlight,
#battery,
#clock,
#cpu,
#custom-binary_clock,
#custom-updates,
#disk,
#idle_inhibitor,
#keyboard-state,
#language,
#memory,
#mpd,
#network,
#pulseaudio,
#submap,
#temperature,
#tray,
#window,
#wireplumber {
  /* border: solid 1px red; */
	border: none;
	box-shadow: .1em .05em .1em @box_shadow;
	color: @fg_widget;
	background-color: @bg_widget;
	border-radius: .25em;
	margin: .15em .25em;
	padding: 0 .75em;
}

#battery.discharging {
}
#battery.low {
	color: @alert;
}
#battery.critical:not(.charging),
#temperature.critical {
	animation-direction: alternate;
	animation-duration: .75s;
	animation-iteration-count: infinite;
	animation-name: animation_critical;
	animation-timing-function: linear;
}

#custom-binary_clock {
}

#keyboard-state > label.locked {
	color: @fg_readonly;
}

#network.disconnected {
	color: @fg_dimmed;
}

#tray > .active {
}
#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: @bg_atention;
}
#tray > .passive {
	-gtk-icon-effect: dim;
}

#workspaces button {
	text-shadow: inherit;
  /* in case we need special style for specific buttons */
}

