@import url("colors.css");

@keyframes animation_critical {
to {
	color: @fg_critical;
	background-color: @bg_critical;
}
}
@keyframes animation_atention {
to {
	color: @fg_atention;
	background-color: @bg_atention;
}
}

button.active {
	background-color: @bg_widget_r;
	color: @fg_widget_r;
}
button.urgent,
#submap {
	animation-direction: alternate;
	animation-duration: .75s;
	animation-iteration-count: infinite;
	animation-name: animation_atention;
	animation-timing-function: linear;
}
button:hover {
	background: inherit;
	background-color: @bg_widget_r;
	color: @fg_hover;
	text-shadow: inherit;
}

tooltip {
	border-radius: .25em;
	background-color: @bg_main;
}
tooltip label {
	color: @fg_widget;
	font-family: monospace;
	font-size: 1.25em;
}

window#waybar {
	background: none;
	font-family: monospace, sans-serif;
	font-size: 1.25em;
}
window#waybar.hidden {
	opacity: .1
}

button,
#audio,
#custom-updates,
#disk,
#hardware,
#idle_inhibitor,
#keyboard-state,
#mpris,
#network,
#submap,
#time,
#tray,
#window {
	border: none;
	box-shadow: .1em .05em .1em @box_shadow;
	color: @fg_widget;
	background-color: @bg_widget;
	border-radius: .25em;
	margin: .15em .25em;
	padding: 0 .75em;
}

#clock {
	margin-left: 1em;
}

#backlight,
#cpu,
#language,
#memory,
#temperature,
#wireplumber {
	margin-right: 1em;
}

#battery.low {
	color: @alert;
}
#battery.critical:not(.charging),
#temperature.critical {
	animation-direction: alternate;
	animation-duration: .75s;
	animation-iteration-count: infinite;
	animation-name: animation_critical;
	animation-timing-function: linear;
}

#keyboard-state > label {
	color: @fg_dimmed;
}
#keyboard-state > label.locked {
	color: @fg_widget;
}

#network.disconnected {
	color: @fg_dimmed;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: @bg_atention;
}
#tray > .passive {
	-gtk-icon-effect: dim;
}

#window {
	font-size: 1em;
}
#workspaces button {
	text-shadow: inherit;
  /* in case we need special styling for specific buttons */
}

