* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: Carlito, FontAwesome, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

window#waybar {
	background-color: rgba(32, 32, 32, 0.5);
	color: #dfdfdf;
	text-shadow: 2px 2px 2px black;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

/*
window#waybar.empty {
	background-color: transparent;
}
window#waybar.solo {
	background-color: #FFFFFF;
}
*/

window#waybar.termite {
	background-color: #3F3F3F;
}

window#waybar.chromium {
	background-color: #000000;
	border: none;
}

button {
}

button:hover {
	background: inherit;
}

#workspaces button {
	/* Use box-shadow instead of border so the text isn't offset */
	background-color: rgba(32, 32, 32, 0.3);
	border-radius: 0;
	color: #dfdfdf;
	min-width: 40px;
	padding: 0 10px;
	text-shadow: 2px 2px 2px black;
}

#workspaces button:hover {
	box-shadow: inset 0 1px gold;
}

#workspaces button.focused {
	background-color: rgba(32, 32, 32, 0.6);
	color: Gold;
	box-shadow: inset 0 1px gold;
}

#workspaces button.urgent {
	background-color: Crimson;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#keybeard-state,
#language,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber {
	border-left: 2px solid rgba(32, 32, 32, 0.5);
	margin: 1px;
	padding: 0 5px;
	color: #dfdfdf;
}

#window,
#workspaces {
	margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#battery {
}

#battery.charging, #battery.plugged {
	color: GreenYellow;
}

#clock {
	font-size: 20px;
	font-weight: bold;
}

#temperature {
}

@keyframes blink {
to {
	background-color: transparent;
}
}

#battery.critical:not(.charging), #temperature.critical {
	background-color: Crimson;
	animation-name: blink;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #202020;
}

#backlight {
}

#cpu {
}

#disk {
}

#idle_inhibitor {
	color: LightSlateGray;
}

#idle_inhibitor.activated {
	color: #dfdfdf;
}

#keyboard-state {
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
	background: rgba(32, 32, 32, 0.8);
}

#language {
	min-width: 20px
}

#mode {
	background-color: rgba(32, 32, 32, 0.2);
	border: 0;
	box-shadow: inset 0 1px gold;
	color: Gold;
	margin: 0;
	padding: 0 20px 0 10px;
}

#memory {
}

#mpd {
}

#mpd.disconnected {
	color: SlateGray;
}

#mpd.stopped {
	color: LightSlateGray;
}

#mpd.paused {
	color: LightSlateGray;
}

#network {
}

#network.disconnected {
	color: LightSlateGray;
}

#pulseaudio {
}

#pulseaudio.muted {
	color: LightSlateGray;
}

#scratchpad {
	background: rgba(32, 32, 32, 0.8);
}

#scratchpad.empty {
	background-color: transparent;
}

#tray {
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: Gold;
	color: #dfdfdf;
}

#wireplumber {
}

#wireplumber.muted {
}

#custom-media {
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}
