* {
	font-family: 'Nimbus Sans Narrow', Carlito, FontAwesome, sans-serif;
	font-size: 20px;
}

@keyframes blink {
to {
	color: #dfdfdf;
}
}
@keyframes blink2 {
to {
	background-color: rgba(65, 68, 77, 0.1);
}
}

button:hover {
	background: inherit;
}
label:focus {
	background-color: #202020;
}
window#waybar {
	background-color: rgba(40, 44, 52, 0.2);
	color: #dfdfdf;
	text-shadow: 4px 4px 4px #41444d;
	transition-property: background-color;
	transition-duration: .5s;
}
window#waybar.hidden {
	opacity: 0.1
}
window#waybar.somerandomapp {
	background-color: red;
	border: none;
}

#workspaces button {
	border-radius: 10px;
	color: #dfdfdf;
	min-width: 40px;
	padding: 0 10px;
	text-shadow: 4px 4px 4px #41444d;
  margin: 0 3px;
}
#workspaces button:hover {
	background-color: rgba(255, 231, 0, 0.4);
	color: #41444d;
}

#workspaces button.active {
	background-color: rgba(255, 231, 0, 0.8);
	color: #41444d;
}
#workspaces button.urgent {
	background-color: rgba(255, 231, 0, 0.4);
	animation-name: blink2;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#keybeard-state,
#language,
#memory,
#submap,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber {
	margin: 0 5px;
	padding: 0;
}

#submap {
	background-color: rgba(238, 238, 238, 0.8);
	color: #41444d;
	min-width: 40px;
	padding: 0 10px;
	text-shadow: 4px 4px 4px #41444d;
  border-radius: 10px;
  margin: 0 3px;
}

#window,
#workspaces {
	margin: 0 3px;
}

#battery.charging, #battery.plugged {
	color: GreenYellow;
}

#clock {
	font-family: 'Monaspace Krypton';
	font-size: 26px;
}

#battery.critical:not(.charging),
#temperature.critical {
	color: Crimson;
	animation-name: blink;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#keyboard-state > label.locked {
	background: rgba(40, 44, 52, 0.8);
}

#network.disconnected {
	color: LightSlateGray;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}
#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	color: #ffd700;
}

