/* https://cloudninja.pw/docs/wofi.html */
@import url("/home/lmcs/.config/waybar/colors.css");

window {
	background-color: @bg_main;
	border: .1em solid @border_main;
	border-radius: .5em;
	font-size: 1.25em;
}

#input {
	background-color: @bg_main;
	border: .1em solid @border_main;
	border-radius: .5em;
	color: @fg_widget;
}

#inner-box {
	color: @fg_widget;
}

#outer-box {
	margin: .5em;
}

#scroll {
	margin: .25em 0;
}

#scroll label {
	margin: .25em;
}

#entry:selected {
	background-color: @bg_widget_r;
	color: @fg_widget_r;
}

#entry:selected #text {
	color: @fg_widget_r;
}
