/* https://cloudninja.pw/docs/wofi.html */

window {
	border: 1px solid Gainsboro;
	border-radius: 10px;
	background-color: rgba(32, 32, 32, 0.7);
	font-size: 24px;
}

#input {
	background-color: rgba(64, 0, 0, 0.7);
}

#inner-box {
	color: Gainsboro;
}

#outer-box {
	margin: 10px;
}

#scroll {
	margin: 5px 0;
}

#scroll label {
	margin: 5px;
}

#entry:selected {
	background-color: rgba(64, 64, 64, 0.7);
	color: Gold;
}

#entry:selected #text {
	color: Gold;
}
